packages
WXQuestionnaire.v12.suo
WXQuestionnaire.BLL/bin
WXQuestionnaire.BLL/obj
WXQuestionnaire.DAL/bin
WXQuestionnaire.DAL/obj
WXQuestionnaire.Model/bin
WXQuestionnaire.Model/obj
WXQuestionnaire.Web/bin
WXQuestionnaire.Web/obj
WXQuestionnaire.Web/Log
WXQuestionnaire.Web/data/Chartlets
WXQuestionnaire.Web/data/WXDownload
WXQuestionnaire.Tool/bin
WXQuestionnaire.Tool/obj
WXQuestionnaire.v12.suo
.vs/WXQuestionnaire/v14/.suo