packages
WXQuestionnaire.BLL/bin
WXQuestionnaire.BLL/obj
WXQuestionnaire.DAL/bin
WXQuestionnaire.DAL/obj
WXQuestionnaire.Model/bin
WXQuestionnaire.Model/obj
WXQuestionnaire.Web/bin
WXQuestionnaire.Web/obj
WXQuestionnaire.Tool/bin
WXQuestionnaire.Tool/obj
WXQuestionnaire.v12.suo
WXQuestionnaire.v12.suo