@{
    ViewBag.Title = "Lottery";
}

@section styles{
    <style type="text/css">
        .button[disabled] {
            background-color: #c9c9c9;
            color: white;
            border: none;
        }

        .content {
            padding: 0 10px;
        }

        .cell {
            margin: 5px;
            border: 2px solid #0894ec;
            text-align: center;
            vertical-align: middle;
            font-size: 2rem;
            /*font-weight:bolder;*/
        }

            .cell.active {
                background-color: #0894ec;
                color: white;
            }
    </style>
}

<div class="page">
    <header class="bar bar-nav">
        <h1 class="title">玩趣</h1>
    </header>
    <div class="content">
        <h3 style="margin-bottom:5px">游戏说明：</h3>
        点击一个你的幸运数字，有机会赢取丰厚的奖品
        <div id="grid" style="margin:35px 20px;">
            <div class="row">
                <div class="col-33">
                    <div class="cell">1</div>
                </div>
                <div class="col-33">
                    <div class="cell">2</div>
                </div>
                <div class="col-33"><div class="cell">3</div></div>
            </div>
            <div class="row">
                <div class="col-33"><div class="cell">4</div></div>
                <div class="col-33"><div class="cell">5</div></div>
                <div class="col-33"><div class="cell">6</div></div>
            </div>
            <div class="row">
                <div class="col-33"><div class="cell">7</div></div>
                <div class="col-33"><div class="cell">8</div></div>
                <div class="col-33"><div class="cell">9</div></div>
            </div>
        </div>
        <div class="content-block">
            <p><a id="btnLottery" href="#" class="button button-big" disabled >抽&nbsp;&nbsp;奖</a></p>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $.init();
        $('.cell').each(function () {
            var $this = $(this);
            var w = $this.width();
            var h = $this.height();
            $this.height(w);
            $this.css('line-height', (w - 3) + 'px');
        });
        $('#btnLottery').on('tap', function () {
            var dis = this.getAttribute('disabled');
            if (dis !== null) {
                return;
            }
            // 抽奖，几率2.3%
            $.showPreloader('抽奖中...')
            setTimeout(function () {
                var num = Math.floor(Math.random() * 1000 + 1);
                $.hidePreloader();
                var msg = num <= 23 ? "恭喜你中奖了" : "谢谢参与";
                $.alert(msg, function () {
                    clearActiveCell();
                    resetLotteryBtn();
                })
            }, 1000);
        })
        $('#grid').on('tap', '.cell', function () {
            var cell = clearActiveCell();
            if (cell !== this) {
                this.classList.add('active');
            }
            resetLotteryBtn();
        });

        function clearActiveCell() {
            var $selected = $('.cell.active');
            if ($selected.length > 0) {
                var cell = $selected[0];
                $selected.each(function () {
                    $selected.removeClass('active');
                })
                return cell;
            }
        }

        function resetLotteryBtn() {
            if ($('.cell.active').length > 0) {
                $("#btnLottery").removeAttr('disabled');
            } else {
                $("#btnLottery").attr('disabled', 'true');
            }
        }

    </script>
}

