@{
    ViewBag.Title = "听我的";
}

@section styles{
    <style>
        #optDay,#optIdentity,#userInfo {
            background-image: url('/img/bg-questionaire.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: top left;
        }
        #optDay .button, #optIdentity .button,#userInfo .button{
            color: black;
            border-color: black;
            background-color: white;
            opacity: 0.5;
        }

        #optDay .button-big {
            line-height: 1.5em;
            padding: 20px 0;
            height: 5.2em;
        }
    </style>
}
<div id="optDay" class="page page-current">
    <div class="content-block">
        <p style="padding-top:50px">
            <a class="button button-big" data-day="day1" v-on:click="optDay">第1天<br />(Day1)</a>
        </p>
        <p style="padding-top:20px">
            <a class="button button-big" data-day="day2" v-on:click="optDay"> 第2天<br />(Day2)</a>
        </p>
    </div>
</div>
<div id="optIdentity" class="page">
    <div class="content-block">
        <p v-bind:style="'padding-top:'+$index==0?'50px':'20px'" v-for="identity in identities">
            <a class="button button-big" data-id="{{identity.id}}" v-on:click="optIdentity">{{identity.text}}</a>
        </p>
    </div>
</div>
<div id="userInfo" class="page">
    <header class="bar bar-nav" style="opacity:0.5;">
        <h1 class='title'>您的信息</h1>
    </header>
    <div class="content">
        <div class="list-block">
            <ul style="opacity: 0.5;">
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">姓名</div>
                            <div class="item-input">
                                <input id="uname" type="text" placeholder="Your name">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">客户类别</div>
                            <div class="item-input">
                                <input type="text" placeholder="Your customer type" id="customerType">
                            </div>
                        </div>
                    </div>
                </li>
                @*<li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">职位</div>
                            <div class="item-input">
                                <input type="text" placeholder="Your position" id="position">
                            </div>
                        </div>
                    </div>
                </li>*@
            </ul>
        </div>
        <div class="content-block">
            <a id="beginQuestion" v-on:click="beginQuestion" class="button button-big">
                开始问卷
            </a>
        </div>
    </div>
</div>

<div id="questionaire" class="page">
    <header class="bar bar-nav">
        <h1 class='title'>{{questionaireData.title}}</h1>
    </header>
    <div class="content">
        <template v-for="question in questionaireData.questions">
            <div class="content-block-title">{{question.name}}</div>
            <div class="card" v-for="subQuestion in question.subQuestions">
                <div class="card-header">{{subQuestion.text}}</div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="list-block media-list">
                            <ul>
                                <li>
                                    <label class="label-checkbox item-content">
                                        <input class="ck-yes" type="radio" name="{{subQuestion.id}}" data-qid="{{subQuestion.id}}">
                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">满意</div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label class="label-checkbox item-content">
                                        <input class="ck-no" type="radio" name="{{subQuestion.id}}" data-qid="{{subQuestion.id}}">
                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">不满意</div>
                                            </div>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <div class="content-block">
            @*0：未提交，1：已提交未抽奖，2：已抽奖*@
            <a data-status="0" class="button button-big" v-on:click="confirm">提交问卷</a>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/questionaire.js"></script>
    <script>
        app = new Vue({
            el: '#pageGroup',
            ready: function () {
                $.init();
            },
            data: {
                dayID :'day1',
                identities: dayIdentity.day1,
                questionaireData: {},
                userInfo: {},
            },
            methods: {
                optDay: function (e) {
                    // 根据data-day设置身份按钮
                    var $this = $(e.target);
                    var dayID = $this.attr('data-day');
                    if (dayID === 'day1') {
                        this.identities = dayIdentity.day1;
                        this.dayID = 'day1';
                    } else if (dayID === 'day2') {
                        this.identities = dayIdentity.day2;
                        this.dayID = 'day2';
                    }

                    // 路由跳转至身份页面
                    $.router.load('#optIdentity', false);
                },
                optIdentity: function (e) {
                    // 根据data-id设置问卷内容
                    var $this = $(e.target);
                    var dataID = $this.attr('data-id');
                    var dataArray = this.dayID === 'day1' ? dataDay1 : dataDay2;
                    this.questionaireData = $.grep(dataArray, function (value) {
                        return value.pageID === dataID;
                    })[0];

                    this.userInfo.position = $this.html();
                    // 路由跳转至姓名职位页面
                    $.router.load('#userInfo', false);
                },
                beginQuestion: function (e) {
                    // 填充userinfo
                    var uname = $("#uname").val();
                    var customerType = $("#customerType").val();
                    if (!uname || !customerType) {
                        $.toast("请输入您的信息");
                        return;
                    }
                    this.userInfo.name = uname;
                    this.userInfo.customerType = customerType;

                    // 路由跳转至问卷页面
                    $.router.load('#questionaire', false);
                    //$.alert("请您仔细回答下面问题，不满意的请忽略不选哦^_^");
                },
                confirm: function (e) {
                    // 根据data-status获取要做的动作
                    var $this = $(e.target);
                    var status = $this.attr('data-status');
                    switch (status) {
                        // 0：未提交
                        case "0":
                            $.showPreloader("正在提交问卷...");
                            var qLength = this.questionaireData.questions.length * 6 - 3,
                                qck = $('#questionaire').find(".ck-yes,.ck-no"),
                                qData = {}, // 问卷数据
                                qCheckedLength = 0;
                            qck.each(function (idx, el) {
                                var $el = $(el);
                                var qid = $el.attr('data-qid');
                                var checked = $el.attr('checked') ? true : false;
                                if (checked) {
                                    qCheckedLength++;
                                }
                                if ($el.hasClass('ck-yes')) {
                                    qData[qid] = checked;
                                }
                            });

                            if (qCheckedLength < qLength) {
                                $.hidePreloader();
                                $.alert("请答完所有题目再提交");
                                return;
                            }
                            $.ajax({
                                url: "/SC/UploadQuestionaire",
                                data: {
                                    qtype: app.questionaireData.questionType,
                                    qdata: JSON.stringify(qData),
                                    user: JSON.stringify(app.userInfo),
                                },
                                dataType: "json",
                                success: function (data) {
                                    if (!data.ok) {
                                        $.alert(data.msg);
                                        return;
                                    }
                                    $.toast("问卷上传成功");
                                    $this.attr('data-status', '1');
                                    $this.html('点我抽奖');
                                    $.hidePreloader();
                                },
                                error: function (xhr, type, error) {
                                    $.alert('问卷上传失败(' + type + ')');
                                    $.hidePreloader();
                                }
                            });
                            break;
                        // 1，已提交未抽奖
                        case "1":
                            $.showPreloader("正在抽奖...");
                            var msg = "谢谢参与";
                            var num = Math.floor(Math.random() * 1000 + 1);
                            if (num>23) {
                                setTimeout(function () {
                                    $this.attr('data-status', '2');
                                    $.alert(msg);
                                    $.hidePreloader();
                                }, 1000);
                            } else {
                                $.ajax({
                                    url: '@Url.Action("AddPrizeWinner")',
                                    dataType: "json",
                                    data: { type: app.questionaireData.questionType },
                                    success: function (data) {
                                        var ok = data.ok;   // 中奖人数是否超限，上限为1
                                        msg = ok ? "恭喜你中奖了" : "谢谢参与";
                                        $this.attr('data-status', '2');
                                    },
                                    complete: function () {
                                        $.alert(msg);
                                        $.hidePreloader();
                                    }
                                });
                            }
                            break;
                        // 2，已抽奖
                        case "2":
                            $.toast("您已经抽过奖了哦！");
                            break;
                        default:
                            break;
                    }
                },
            }
        });
    </script>
}